#calculator {
  border: solid;
  text-align: center;
  width: 400px;
  height: 460px;
  margin: 0 auto;
  padding: 4px;
  font-size: medium;
}

#display {
  width: 380px;
  height: 50px;
  border: solid;
  padding: 4px;
  margin: 2px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 3.5rem;
  border-radius: 6px;
}

.calc-button {
  border: solid;
  border-radius: 6px;
  width: 90px;
  height: 75px;
  padding: 2px;
  margin: 2px;
  font-size: math;
}

#clear {
  /* needs to cover two button lengths
  double width + padding/margin */
  width: 190px;
}
